.PnlCadastro {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 60vh;
    width: 650px;
    border: 1px solid red;
}

.PnlCadastro__fieldset {
    width: 100%;
    height: 90%;
    line-height: 1.8
}

.PnlCadastro__Legend {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #4F78C4;
}

.PnlCadastro__Label {
    font-weight: 600;
    color: #4F78C4;
}

.PnlCadastro__Software__BlockText {
    display: flex;
    flex-direction: column;
}

.PnlCadastro__Software__BlockDdl {
    display: flex;
    grid-gap: 1rem;
}

.PnlCadastro__Software__BlockDdl1 {
    width: 50%;
}

.PnlCadastro__Software__BlockDdl2 {
    margin-left: auto;
    width: 50%;
}

.PnlCadastroSoftware__Ddl {
    width: 100%;
}

.PnlCadastro__Btn {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.Btn {
    margin-top: .5rem;
    align-items: center;
}

.PnlCadastro__Maquina__BlockText{
    display:flex;
    flex-direction: column;
}

.PnlCadastro__Usuario__BlockText {
    display: flex;
    flex-direction: column;
}

.PnlCadastro__Revisao__BlockText {
    display:flex;
    flex-direction: column;
}

.PnlRevisaoCadastro {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
}

.PnlCadastro__TextBox_Revisao{
    border:none;
    margin-left: 1rem;
    color:black;
}
